<%= f.fields_for :addresses do |builder| %>
	<div class="address-values">
		<%= builder.label :address %><br>
		<%= builder.text_field :address %><br>
		<%= builder.label :country %><br>
		<%= builder.text_field :country %>
	</div>
<% end %>