<%= f.fields_for :addresses do |builder| %>
	<div class="address-values">
		<%= builder.label :address %>
		<%= builder.text_field :address %> <br>
		<%= builder.label :country %>
		<%= builder.text_field :country %> <br>
	</div>
<% end %>