<%= form_for @contact,  html: {:class => 'form-horizontal'} do |f| %>
	<%= @contact.errors.full_messages.to_sentence %>
	<div class="form-group">
		<%= f.label :first_name, class: "control-label col-md-2" %><br>
		<%= f.text_field :first_name,class: "#{@contact.errors.present? && @contact.errors[:first_name].present? ? 'has-error' : ''}" %>
	</div>
	<div class="form-group">
		<%= f.label :last_name, class: 'control-label col-md-2' %><br>
		<%= f.text_field :last_name %>
	</div>
	<div class="form-group">
		<%= f.label :email, class: 'control-label col-md-2' %><br>
		<%= f.text_field :email %>
	</div>
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#address">Address(s)</a></li>
		<li><a data-toggle="tab" href="#phone">Communication Details</a></li>
	</ul>
	<div class="tab-pane fade in active" id="address">
		<%= render :partial => "address", :locals => { :f => f } %>
	</div>
	<div class="tab-pane fade" id="phone">
		<%= render :partial => "phone", :locals => { :f => f } %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
