<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
			<ul class="nav nav-tabs pull-right">
				<li><%= link_to "All Contacts", root_path %></li>
				<li><%= link_to "New Contact", new_contact_path %></li>
			</ul>
			<div class="clearfix"></div>
		</header>
		<%= yield %>
	</div>
</body>
</html>